@model DnDManager.Models.LogEntry

<h2>Edit Log Entry</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="RoundNumber"></label>
        <input asp-for="RoundNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DamageOrHealing"></label>
        <input asp-for="DamageOrHealing" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="EncounterId"></label>
        <input asp-for="EncounterId" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
